/* Remove padding from the webpage */
html, body {
  padding: 0;
  margin: 0;
}

/* Define the font we use */
@font-face{
	font-family: SlimFont;
	src: url("Quicksand-Light.otf");
}

@font-face{
	font-family: RegularFont;
	src: url("Quicksand-Regular.otf");
}

@font-face{
	font-family: BoldFont;
	src: url("Quicksand-Bold.otf");
}

.TopBar {
  overflow: hidden;
  text-align: center;
  background-color: #fafaf8;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.Name{
	margin-top: 20px;
	margin-bottom: 10px;
	color: #333;
	font-family: RegularFont;
	text-align: center;
	font-size: 50px;
}

/* Style the links inside the navigation bar */
.TopBar a{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: SlimFont;
  font-size: 27px;
  color: #337ab7;
}

/* Change the color of links on hover */
.TopBar a:hover {
  text-decoration: underline;	
}

.Project {
  position: relative;
  float: left;
  width: 82%;
  left: 12%;
}

.Project h2 {
  font-family: RegularFont;
  font-size: 40px;
  color: #333;
  display: inline;	
}

.Project h3 {
  font-family: SlimFont;
  font-size: 20px;
  color: #555;
  display: inline;
}

.Project h4 {
  font-family: BoldFont;
  font-size: 18px;
  color: #222;
  line-height: 26px;
  display: inline;
}

.Project a {
  font-family: BoldFont;
  font-size: 18px;
  color: #337ab7;
  line-height: 26px;
  display: inline;
  text-decoration: none;
}

/* Change the color of links on hover */
.Project a:hover {
  text-decoration: underline;	
}

.Project h5 {
  font-family: SlimFont;
  font-size: 18px;
  color: #222;
  line-height: 26px;
}

.Project h6 {
  font-family: SlimFont;
  font-size: 18px;
  color: #222;
  line-height: 26px;
  display: inline;
}

.Project img {
	position: relative;
	top: 30px;
	border: solid #ddd 1px;
	display: block;
	z-index: 0;
	margin: 10px;
}

/* Slideshow container */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
	
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: 0px;
  padding: 0px;
  color: black;
  font-family: RegularFont;
  font-size: 45px;
  transition: 0.3s ease;
}

/* Position the "next button" to the right */
.next {
  right: -60px;
}

.prev {
  left: -45px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  transform: scale(1.2);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 7px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}