/* Remove padding from the webpage */
html, body {
  padding: 0;
  margin: 0;
}

/* Define the font we use */
@font-face{
	font-family: SlimFont;
	src: url("Quicksand-Light.otf");
}

@font-face{
	font-family: RegularFont;
	src: url("Quicksand-Regular.otf");
}

@font-face{
	font-family: BoldFont;
	src: url("Quicksand-Bold.otf");
}

.TopBar {
  overflow: hidden;
  text-align: center;
  background-color: #fafaf8;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.Name{
	margin-top: 20px;
	margin-bottom: 10px;
	color: #333;
	font-family: RegularFont;
	text-align: center;
	font-size: 50px;
}

/* Style the links inside the navigation bar */
.TopBar a{
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: SlimFont;
  font-size: 27px;
  color: #337ab7;
}

/* Change the color of links on hover */
.TopBar a:hover {
  text-decoration: underline;	
}

.Project {
  position: relative;
  float: left;
  width: 82%;
  left: 12%;
}

.Project h2 {
  font-family: RegularFont;
  font-size: 40px;
  color: #333;
  display: inline;	
}

.Project h3 {
  font-family: SlimFont;
  font-size: 20px;
  color: #555;
  display: inline;
}

.Project h4 {
  font-family: BoldFont;
  font-size: 18px;
  color: #222;
  line-height: 26px;
  display: inline;
}

.Project a {
  font-family: BoldFont;
  font-size: 18px;
  color: #337ab7;
  line-height: 26px;
  display: inline;
  text-decoration: none;
}

/* Change the color of links on hover */
.Project a:hover {
  text-decoration: underline;	
}

.Project h5 {
  font-family: SlimFont;
  font-size: 18px;
  color: #222;
  line-height: 26px;
}

.Project h6 {
  font-family: SlimFont;
  font-size: 18px;
  color: #222;
  line-height: 26px;
  display: inline;
}

.Project img {
	position: relative;
	top: 30px;
	border: solid #ddd 1px;
	display: block;
	z-index: 0;
	margin: 10px;
}